@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif&family=Noto+Serif+Display&display=swap");
@import "tailwindcss";

/* Fonts */
:root {
  --font-noto-serif: "Noto Serif", serif;
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-noto-display: "Noto Serif Display", serif;
}

body {
  font-family: var(--font-noto-sans);
}

h1 {
  font-family: var(--font-noto-display);
}
