@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700;900&family=Noto+Serif:wght@300;400;500;700;900&family=Noto+Serif+Display:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

/* Project Fonts and colors */
:root {
  --font-noto-serif: "Noto Serif", serif;
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-noto-display: "Noto Serif Display", serif;

  /* Colors */
  --color-primary: #004677;
  --color-bg-primary: #f5f3ed;
  --color-text-primary: #313a44;
}

body {
  overflow-x: hidden;
  font-family: var(--font-noto-sans);
}

/* Classes for colors */
.bg-primary {
  background-color: var(--color-bg-primary);
}
.text-primary {
  color: var(--color-text-primary);
}

/* h1 {
  font-family: var(--font-noto-serif);
} */

h2 {
  font-family: var(--font-noto-sans);
}
h2,
h3 {
  font-family: var(--font-noto-sans);
  font-stretch: condensed;
}

.font-display {
  font-family: var(--font-noto-display);
}

.font-serif {
  font-family: var(--font-noto-serif);
}
